TARGET_URL=http://81.26.176.68:30080

SMOKE_DURATION=30s
BASELINE_VUS=10
BASELINE_DURATION=5m

LOAD_VUS=50
LOAD_DURATION=10m

STRESS_MAX_VUS=100
STRESS_DURATION=15m

SPIKE_LOW_VUS=10
SPIKE_HIGH_VUS=100
SPIKE_DURATION=5m

ENDURANCE_VUS=25
ENDURANCE_DURATION=30m

REQUEST_TIMEOUT=5s
